---
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "mixins",
        "variables",
        "footer",
        "project-palette",
        "proj-chelsea",
        "proj-chall"
;

::selection {
  background: $black; /* WebKit/Blink Browsers */
  color: $white;
}
::-moz-selection {
  background: $black; /* Gecko Browsers */
  color: $white;
}

*, *:before, *:after {
  box-sizing:  border-box !important;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'sf-mono-regular', curiour, sans-serif;
  font-weight: normal;
  font-size: .9em;
  color: $black;
  margin: 0;
  text-rendering: optimizeLegibility;
}

a {
  color: $black;
  text-decoration: none;
  -webkit-transition:  all 0.18s cubic-bezier(0.55, 0.025, 0.455, 0.98);
  -o-transition:       all 0.18s cubic-bezier(0.55, 0.025, 0.455, 0.98);
  transition:          all 0.18s cubic-bezier(0.55, 0.025, 0.455, 0.98);

  &:hover {
    cursor: crosshair;
  }

}

p > a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $black;

  &:hover {
    border-bottom: 1px solid transparent !important;
  }

}

a.contact {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $black;

  &:hover {
    border-bottom: 1px solid transparent !important;
  }

}

a.button {
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: .04em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $black;

  &:hover {
    border-bottom: 1px solid transparent !important;
  }

}

.notibar {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 1.5em 0;
  margin-bottom: 2em;
  background-color: $highlight;
  color: $black;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .hero {
    height: auto;
    padding: 5em 1em 4em 1em;
    display: flex;

    .hero-content {
      display: flex;
      align-items: center;

      a.logo {
        display: block;
        background-image: url('../assets/nwa.svg');
        background-repeat: no-repeat;
        background-position: center;
        height: 34px;
        width: 85px;
        padding: 0;
        border: 0;
      }

      .bio-column {
        margin-left: 2em;
      }

      h1.hero-title {
        color: $black;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: normal;
        padding: 0 0 .2em 0;
      }

      h2.hero-sub {
        color: lighten($black, 40);
        font-size: 1em;
        font-weight: normal;
      }

    }

  }

  .header {
    padding: 2em 1em 1.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1em;
      font-weight: normal;
      text-transform: uppercase;
    }

    .contact {
      font-size: 1em;
      font-weight: normal;
      text-transform: uppercase;
    }

  }

  section.work {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .5em 5em .5em;

    .project {
      @include aspect-ratio(16, 10);
      background-size: cover;
      background-repeat: no-repeat;
      color: $black;
      width: calc(50% - 1em);
      margin: .5em;
      -webkit-transition:  .5s ease;
      -o-transition:       .5s ease;
      transition:          .5s ease;

      .project-info {
        padding: 1em 0 0 1em;
        display: inline-block;

        h3.project-title {
          font-weight: normal;
          margin: 0;
          font-size: .8em;
        }

        p.category {
          font-size: .7em;
          text-transform: uppercase;
          display: none;
        }

      }

    }

  }

  section.instagram {
    padding: 4em 1em 5em 1em;
    display: flex;
    flex-direction: column;
    background-color: $black;

    h2 {
      color: lighten($black, 80);
      align-self: center;
      text-transform: uppercase;
      font-size: .8em;
      letter-spacing: .1em;
      padding-bottom: 5em;
    }

    .instagram-container {
      padding-bottom: 3em;
      column-count: 3;
      column-width: calc(33.333% - 1em);
      column-gap: 1em;
      line-height: 0;

      .instagram-post {
        padding-bottom: 1em;
        display: inline-block;

        img {
          width: 100%;
          max-width: 100%;
        }

      }

    }

    a.button {
      color: $white;
      border-bottom-color: $white;
      align-self: center;
    }

  }

  header.single {
    padding: 3em 1em;

    a.logo {
      display: block;
      background-image: url('../assets/nwa.svg');
      background-repeat: no-repeat;
      background-position: center;
      height: 24px;
      width: 60px;
      padding: 0;
    }

  }

  section.project {
    background-color: $lightgrey;
    padding: 1em 1em 0.2em 1em;
    min-height: calc(100vh - 8em);

    .project-details {
      display: flex;
      padding: 2em 0;
      font-size: .8em;

      h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
        padding-bottom: .5em;
      }

      .column {
        width: 25%;
        padding: 0 2em;
        flex: 1;

        p { color: lighten($black, 20); }

        &:first-child { padding-left: 0; }

        &:nth-child(2) { border-left: 1px solid $black; }

      }

      .back {
        align-self: center;

        a.arrow {
          height: 3em;
          width: 60px;
          display: inline-block;
          background-image: url('../assets/arrow.svg');
          background-repeat: no-repeat;
          background-position: center;
          padding: 0;
          -webkit-transition: all 140ms ease;
          -moz-transition: all 140ms ease;
          -ms-transition: all 140ms ease;
          -o-transition: all 140ms ease;
          transition: all 140ms ease;

          &:hover {
            transform: translate(20%, 0);
          }

        }

      }

    }

    .project-content {
      padding: 1em 0 0 0;
      display: flex;
      flex-direction: column;

      .text-block {
        align-self: center;
        padding: 3em 0 4em 0;
        width: 60%;

        p {
          line-height: 1.9em;
          padding: 1em 0;
        }

      }

      .center-content {
        text-align: center;
      }

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin: 0;
        padding-bottom: 1em;
      }

    }

  }

}

@media only screen and (max-width: 960px) {

  .container {

    .hero {
      height: auto;
      padding: 4em 1em 3em 1em;

      .hero-content {
        flex-direction: column;
        align-items: flex-start;

        .bio-column {
          padding-top: 3.5em;
          margin-left: 0;
        }

      }

    }

    section.work {

      .project {
        width: calc(100% - 1em);
      }

    }

    section.project {

      .project-details {
        flex-wrap: wrap;

        .column {
          width: 33.3333%;

          &:first-child {
            display: none;
          }

          &:nth-child(2) {
            border: 0;
            padding-left: 0;
          }

        }

      }

      .project-content {

        .text-block {
          width: 100%;
          max-width: 90%;
        }

      }

    }

    section.instagram {

      .instagram-container {
        column-count: 2;
        column-width: calc(50% - 1em);
      }

    }

  }

}

@media only screen and (min-width: 1600px) {
  .container {

    section.instagram {

      .instagram-container {
        column-count: 4;
        column-width: calc(25% - 1em);
      }

    }

    section.project {

      .project-content {

        .text-block {
          width: 40%;
        }

      }

    }

  }
}
