---
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "mixins",
        "proj-chelsea"
;

// Color palette
$highlight:   rgb(241, 238, 204);
$secondary: rgb(128, 128, 128);
$lightgrey: rgb(246, 246, 246);
$white:     rgb(255, 255, 255);
$black:     rgb(34, 34, 34);

::selection {
  background: $black; /* WebKit/Blink Browsers */
  color: $white;
}
::-moz-selection {
  background: $black; /* Gecko Browsers */
  color: $white;
}

* {
  box-sizing: border-box;
  // border: 1px solid red;
}

a,p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'typewriterregular', courier;
  font-weight: normal;
  font-size: .9em;
  color: $black;
  margin: 0;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: $black;
  padding-bottom: .5em;

  &:hover {
    padding-bottom: .4em;
    border-bottom: .1em solid $black;
    cursor: crosshair;
  }

}

a.button {
  background-color: $black;
  color: $white;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .08em;
  padding: 1em 1.4em;
  transition: all 140ms;

  &:hover {
    border: none;
    background-color: lighten($black, 5);
  }

}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .hero {
    height: 15vh;
    padding: 1em;
    display: flex;

    .hero-content {
      display: flex;
      align-items: center;
      padding-top: 2em;

      a.logo {
        display: block;
        background-image: url('../assets/nwa.svg');
        background-repeat: no-repeat;
        background-position: center;
        height: 34px;
        width: 85px;
        margin-top: .2em;
        padding: 0;
        &:hover { border: 0; }
      }

      .bio-column {
        margin-left: 2em;
      }

      h1.hero-title {
        color: $black;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: normal;
        padding: 0 0 .2em 0;
      }

      h2.hero-sub {
        color: lighten($black, 40);
        font-size: 1em;
        font-weight: normal;
      }

    }

  }

  .header {
    padding: 2em 1em 1.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1em;
      font-weight: normal;
      text-transform: uppercase;
    }

    .contact {
      font-size: 1em;
      font-weight: normal;
      text-transform: uppercase;
    }

  }

  section.work {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .5em 5em .5em;

    .project {
      @include aspect-ratio(16, 10);
      background-size: cover;
      background-repeat: no-repeat;
      color: $black;
      width: calc(50% - 1em);
      margin: .5em;

      .project-info {
        padding: 1em 0 0 1em;
        display: inline-block;

        h3.project-title {
          font-weight: normal;
          margin: 0;
          font-size: .8em;
        }

        p.category {
          font-size: .7em;
          text-transform: uppercase;
          opacity: .6;
          display: none;
        }

      }

      a:hover {
        cursor: crosshair;
        border: none;
      }

    }

  }

  section.instagram {
    padding: 5em 1em 5em 1em;
    display: flex;
    flex-direction: column;
    background-color: $black;

    h2 {
      color: lighten($black, 80);
      align-self: center;
      text-transform: uppercase;
      font-size: .8em;
      letter-spacing: .1em;
      padding-bottom: 5em;
    }

    .instagram-container {
      padding-bottom: 3em;
      column-count: 3;
      column-width: calc(33.333% - 1em);
      column-gap: 1em;

      .instagram-post {
        padding-bottom: 1em;
        display: inline-block;

        img {
          width: 100%;
          max-width: 100%;
        }

        &:hover {
          border: none;
        }

      }

    }

    .button {
      background-color: $white;
      color: $black;
      align-self: center;

      &:hover {
        background-color: darken($white, 5);
      }

    }

  }

  header.single {
    padding: 3em 1em;

    a.logo {
      display: block;
      background-image: url('../assets/nwa.svg');
      background-repeat: no-repeat;
      background-position: center;
      height: 24px;
      width: 60px;
      padding: 0;
      &:hover { border: 0; }
    }

  }

  section.project {
    background-color: $lightgrey;
    padding: 1em;
    min-height: calc(100vh - 8em);

    .project-details {
      display: flex;
      padding: 2em 0;
      font-size: .8em;

      h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
        padding-bottom: .5em;
      }

      .column {
        width: 25%;
        padding: 0 2em;
        flex: 1;

        p { color: lighten($black, 20); }

        &:first-child { padding-left: 0; }

        &:nth-child(2) { border-left: 1px solid $black; }

      }

      .back {
        align-self: center;

        a.arrow {
          height: 3em;
          width: 60px;
          display: inline-block;
          background-image: url('../assets/arrow.svg');
          background-repeat: no-repeat;
          background-position: center;
          padding: 0;
          transition: all 140ms;

          &:hover {
            border: 0;
            transform: translate(20%, 0);
          }

        }

      }

    }

    .project-content {
      padding: 1em 0;
      display: flex;
      flex-direction: column;

      .text-block {
        align-self: center;
        padding: 3em 0;
        width: 60%;

        p {
          line-height: 1.9em;
          padding: 1em 0;
        }

      }

      .center-content {
        text-align: center;
      }

      img {
        max-width: 100%;
        margin: 0;
        padding-bottom: 1em;
      }

    }

  }

  .footer {
    padding: 4.5em 1em 5em 1em;
    text-align: center;

    p {
      color: $secondary;
      font-size: .8em;
      margin: 0;
    }

  }

}

@media only screen and (max-width: 960px) {

  .container {

    section.work {

      .project {
        width: calc(100% - 1em);
      }

    }

    section.project {

      .project-details {
        flex-wrap: wrap;

        .column {
          width: 33.3333%;

          &:first-child {
            display: none;
          }

          &:nth-child(2) {
            border: 0;
            padding-left: 0;
          }

        }

      }

    }

    section.instagram {

      .instagram-container {
        column-count: 2;
        column-width: calc(50% - 1em);
      }

    }

  }

}

@media only screen and (min-width: 1600px) {
  .container {

    section.instagram {

      .instagram-container {
        column-count: 4;
        column-width: calc(25% - 1em);
      }

    }

  }
}
