.cl-logo-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0 .5em 0;

  .cl-logo {
    display: block;
    width: 50%;
    height: 50vw;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  .black {
    background-image: url('/assets/images/cl-logo-black.svg');
  }

  .white {
    background-color: #222222;
    background-image: url('/assets/images/cl-logo-white.svg');
  }

}

@media only screen and (min-width: 1600px) {

  .cl-logo-container {

    .cl-logo {
      background-size: 30%;
    }

  }

}
