<header class="section header single">
  <a href="{{ site.baseurl }}/" class="logo"></a>
  <a href="#" class="my-info-toggle">?</a>
</header>

<div class="my-info">
  <div class="container">

    <div class="column bio">
      <h2 class="title">Nichlas Wærnes Andersen</h2>
      <p>Art Director & Graphic Designer from Norway, currently
      based in Brooklyn, NY.</p>
    </div>

    <div class="column contact">
      <h2 class="title">Contact</h2>
      <div class="contact-columns">
        <a class="tel" href="tel://+13475670518">+1 (347) 567-0518</a>
        <a class="email" href="mailto:nichlas@itsnwa.com">nichlas@itsnwa.com</a>
      </div>
    </div>

    <div class="column location">
      <h2 class="title">Live location</h2>
      <p>Greenwich Village, Manhattan, NY</p>
    </div>

    <div class="column social">
      <h2 class="title">Social</h2>
      <ul class="social-links">
        <li class="social-item"><a href="#">Facebook</a></li>
        <li class="social-item"><a href="#">Instagram</a></li>
        <li class="social-item"><a href="#">Twitter</a></li>
        <li class="social-item"><a href="#">LinkedIn</a></li>
        <li class="social-item"><a href="#">Dribbble</a></li>
      </ul>
    </div>

  </div>
</div>
