<header class="header {% if page.layout == 'project' %}single{% endif %}">
  <a href="{{ site.baseurl }}/" class="logo"></a>
  <div class="my-info-toggle"></div>
</header>

<div class="my-info">
  <div class="container">

    <div class="column bio">
      <h2 class="title">Nichlas Wærnes Andersen</h2>
      <p>Art Director &amp; Graphic Designer from Norway, based in Brooklyn, NY.</p>
    </div>

    <div class="column availability">
      <span class="dot green"></span>I'm currently open for work</p>
    </div>

    <div class="column contact">
      <h2 class="title">Contact</h2>
      <div class="contact-columns">
        <a class="tel" href="tel://+13475670518">+1 (347) 567-0518</a>
        <a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
    </div>

    <div class="column social">
      <a href="#" class="social-item twitter"></a>
      <a href="#" class="social-item instagram"></a>
      <a href="#" class="social-item dribbble"></a>
    </div>

  </div>
</div>
