@font-face {
    font-family: 'sf-mono-bold';
    src: url('../assets/fonts/sfmono-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-bold-italic';
    src: url('../assets/fonts/sfmono-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-heavy';
    src: url('../assets/fonts/sfmono-heavy-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-heavy-italic';
    src: url('../assets/fonts/sfmono-heavyitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-light';
    src: url('../assets/fonts/sfmono-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-light-italic';
    src: url('../assets/fonts/sfmono-lightitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-medium';
    src: url('../assets/fonts/sfmono-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-medium-italic';
    src: url('../assets/fonts/sfmono-mediumitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-regular';
    src: url('../assets/fonts/sfmono-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-regular-italic';
    src: url('../assets/fonts/sfmono-regularitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-semibold';
    src: url('../assets/fonts/sfmono-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-semibold-italic';
    src: url('../assets/fonts/sfmono-semibolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/sfmono-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
