section.footer {
  padding: 4.5em 1em 5em 1em;
  text-align: center;

  .footer-container {
    display: flex;
    justify-content: center;

    a.stamp {
      display: inline-block;
      width: 100px;
      height: 100px;
      background-image: url('../assets/stamp.svg');
      background-repeat: no-repeat;
    }

  }

}
