.header {
  padding: 3em 1em 2.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a.logo {
    display: block;
    background-image: url('../assets/nwa.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 60px;
    padding: 0;
  }

  .my-info-toggle {
    display: block;
    background-image: url('../assets/wave.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 41px;
    padding: 0;
    cursor: crosshair;
  }

}

header.single {
  padding: 3em 1em 3em 1em;
}
