.my-info {
  display: none;
  padding: 3em 0 0 0;

  .container {
    display: flex;
    flex-direction: column;
    padding-left: calc(25% + 1em);

    .column {
      flex: 1;
      padding: 0 0 6em 0;
      max-width: 480px;
      font-size: .8em;
      font-family: 'sf-mono-light', curiour, sans-serif;
      color: $black;
      letter-spacing: .1em;

      h2.title {
        font-family: 'sf-mono-medium', curiour, sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        padding-bottom: .85em;
      }

      .contact-columns {
        display: flex;
        a.tel { margin-right: 4em; }
      }

      a.social-item {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 3em;
        border: 0;

        &:hover { border-bottom: 0; }

      }

      a.twitter    { background-image: url('../assets/twitter.svg'); }
      a.instagram  { background-image: url('../assets/instagram.svg'); }
      a.dribbble   { background-image: url('../assets/dribbble.svg'); }

    }

    a {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: $black;

      &:hover {
        border-bottom: 1px solid transparent;
      }

    }

  }
}

@media only screen and (max-width: $breakpoint-small) {
  .my-info {

    .container {
      padding: 1em;
    }

  }
}
