.cl-logo-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0 .5em 0;

  .logo-black {
    background-color: #222222;
    width: 50%;
    padding: 10em;
    display: flex;
    justify-content: center;

    img {
      width: 15vw;
    }

  }

  .logo-white {
    width: 50%;
    padding: 10em;
    display: flex;
    justify-content: center;

    img {
      width: 15vw;
    }

  }

}

@media only screen and (max-width: 960px) {
  .cl-logo-container {

    .logo-black, .logo-white {
      width: 100%;

      img {
        width: 35vw;
      }

    }

  }
}
