// Color palette
$highlight:   rgb(241, 238, 204);
$secondary: rgb(128, 128, 128);
$lightgrey: rgb(246, 246, 246);
$white:     rgb(255, 255, 255);
$black:     rgb(34, 34, 34);


// Layout sizing
$breakpoint-small: 960px;
$breakpoint-big: 1600px;
