// Import partials from `partials_dir` (defaults to `partials`)
@import "fonts",
        "project-palette",
        "mixins",
        "variables",
        "myinfo",
        "header",
        "footer",
        "work",
        "project",
        "journal",
        "instagram";

        // Project specific styles
@import "proj-chelsea",
        "proj-chall",
        "proj-forestry";

::selection {
  background: $highlight; /* WebKit/Blink Browsers */
  color: $black;
}
::-moz-selection {
  background: $highlight; /* Gecko Browsers */
  color: $black;
}

*, *:before, *:after {
  box-sizing:  border-box !important;
}

p,h1,h2,h3,h4,h5,h6 {
  padding: 0;
}

.huge-text {
  font-size: 3em;
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
}

.huge-text + p {
  text-align: center;
  margin: 2em auto 6em auto;
  max-width: 530px;
  white-space: wrap;
}

body {
  font-family: 'sf-mono-regular',monospace;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: $black;
  margin: 0;
}

a {
  color: $black;
  text-decoration: none;
  -webkit-transition:  border .18s cubic-bezier(0.55, 0.025, 0.455, 0.98);
  -o-transition:       border .18s cubic-bezier(0.55, 0.025, 0.455, 0.98);
  transition:          border .18s cubic-bezier(0.55, 0.025, 0.455, 0.98);

  &:hover {
    cursor: crosshair;
  }

}

p > a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $black;

  &:hover {
    border-bottom: 1px solid transparent !important;
  }

}

a.contact {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $black;

  &:hover {
    border-bottom: 1px solid transparent !important;
  }

}

a.button {
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: .04em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $black;

  &:hover {
    border-bottom: 1px solid transparent !important;
  }

}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 1em;
}

.green {
  background-color: $green;
}

.red {
  background-color: $red;
}

.notibar {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 1.5em 0;
  margin-bottom: 2em;
  background-color: $highlight;
  color: $black;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media only screen and (max-width: $breakpoint-small) {

  .container {

    section.work {

      .project {
        width: calc(100% - 1em);
      }

    }

    section.project {

      .project-details {
        flex-wrap: wrap;

        .column {
          width: 33.3333%;

          &:first-child {
            display: none;
          }

          &:nth-child(2) {
            border: 0;
            padding-left: 0;
          }

        }

      }

      .project-content {

        .text-block {
          width: 100%;
          max-width: 90%;
        }

      }

    }

    section.instagram {

      .instagram-container {
        column-count: 2;
        column-width: calc(50% - 1em);
      }

    }

  }

  .huge-text {
    margin-top: 1em;
  }

}

@media only screen and (min-width: $breakpoint-big) {
  .container {

    section.instagram {

      .instagram-container {
        column-count: 4;
        column-width: calc(25% - 1em);
      }

    }

    section.project {

      .project-content {

        .text-block {
          width: 40%;
        }

      }

    }

  }
}
