@font-face {
    font-family: 'atlas_typewritermedium';
    src: url('atlas_typewriter_-_medium-webfont.eot');
    src: url('atlas_typewriter_-_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('atlas_typewriter_-_medium-webfont.woff2') format('woff2'),
         url('atlas_typewriter_-_medium-webfont.woff') format('woff'),
         url('atlas_typewriter_-_medium-webfont.ttf') format('truetype'),
         url('atlas_typewriter_-_medium-webfont.svg#atlas_typewritermedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'atlas_typewriterlight_italic';
    src: url('atlas_typewriter_-_light_italic-webfont.eot');
    src: url('atlas_typewriter_-_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('atlas_typewriter_-_light_italic-webfont.woff2') format('woff2'),
         url('atlas_typewriter_-_light_italic-webfont.woff') format('woff'),
         url('atlas_typewriter_-_light_italic-webfont.ttf') format('truetype'),
         url('atlas_typewriter_-_light_italic-webfont.svg#atlas_typewriterlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'atlas_typewriterRgIt';
    src: url('atlas_typewriter_-_italic-webfont.eot');
    src: url('atlas_typewriter_-_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('atlas_typewriter_-_italic-webfont.woff2') format('woff2'),
         url('atlas_typewriter_-_italic-webfont.woff') format('woff'),
         url('atlas_typewriter_-_italic-webfont.ttf') format('truetype'),
         url('atlas_typewriter_-_italic-webfont.svg#atlas_typewriterRgIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'atlas_typewriterbold_italic';
    src: url('atlas_typewriter_-_bold_italic-webfont.eot');
    src: url('atlas_typewriter_-_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('atlas_typewriter_-_bold_italic-webfont.woff2') format('woff2'),
         url('atlas_typewriter_-_bold_italic-webfont.woff') format('woff'),
         url('atlas_typewriter_-_bold_italic-webfont.ttf') format('truetype'),
         url('atlas_typewriter_-_bold_italic-webfont.svg#atlas_typewriterbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'atlas_typewriterbold';
    src: url('atlas_typewriter_-_bold-webfont.eot');
    src: url('atlas_typewriter_-_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('atlas_typewriter_-_bold-webfont.woff2') format('woff2'),
         url('atlas_typewriter_-_bold-webfont.woff') format('woff'),
         url('atlas_typewriter_-_bold-webfont.ttf') format('truetype'),
         url('atlas_typewriter_-_bold-webfont.svg#atlas_typewriterbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'atlas_typewriterlight';
    src: url('atlas_typewriter_-_light-webfont.eot');
    src: url('atlas_typewriter_-_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('atlas_typewriter_-_light-webfont.woff2') format('woff2'),
         url('atlas_typewriter_-_light-webfont.woff') format('woff'),
         url('atlas_typewriter_-_light-webfont.ttf') format('truetype'),
         url('atlas_typewriter_-_light-webfont.svg#atlas_typewriterlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'atlas_typewriterblack_italic';
    src: url('atlas_typewriter_-_blackitalic-webfont.eot');
    src: url('atlas_typewriter_-_blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('atlas_typewriter_-_blackitalic-webfont.woff2') format('woff2'),
         url('atlas_typewriter_-_blackitalic-webfont.woff') format('woff'),
         url('atlas_typewriter_-_blackitalic-webfont.ttf') format('truetype'),
         url('atlas_typewriter_-_blackitalic-webfont.svg#atlas_typewriterblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'atlas_typewriter_regularRg';
    src: url('atlas_typewriter_-_regular-webfont.eot');
    src: url('atlas_typewriter_-_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('atlas_typewriter_-_regular-webfont.woff2') format('woff2'),
         url('atlas_typewriter_-_regular-webfont.woff') format('woff'),
         url('atlas_typewriter_-_regular-webfont.ttf') format('truetype'),
         url('atlas_typewriter_-_regular-webfont.svg#atlas_typewriter_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}